<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.OrderMapper">
    <insert id="insertOrder">
        insert into orders (order_number,price,order_time)
        values (#{orderNumber},#{price},Now())
    </insert>
    <delete id="deleteOrderByOrderNumber">
        delete from orders where order_number=#{orderNumber}
    </delete>
    <update id="updateOrder">
        update orders
        <set>
            price=#{price},
            order_time=Now()
        </set>
        where order_number=#{orderNumber}
    </update>
    <select id="selectOrderByPage" resultType="Order">
        select * from orders Limit #{pageNumber} Offset #{offect}
    </select>
    <select id="selectByOrderNumber" resultType="Order">
        select * from orders where order_number=#{orderNumber};
    </select>
    <select id="selectOrderDetail" resultMap="orderDetail">
        select orders.order_number,price,commodity_number,number from orders left join order_item on orders.order_number=order_item.order_number
                                                         where orders.order_number=#{orderNumber};
    </select>
    <resultMap id="orderDetail" type="Order">
        <id column="id" property="id"/>
        <result column="order_number" property="orderNumber"/>
        <result column="price" property="price"/>
        <collection property="orderItems" ofType="OrderItem">
            <result column="commodity_number" property="commodityNumber"/>
            <result column="number" property="number"/>
        </collection>
    </resultMap>
</mapper>